#map {
    height: 400px;
    width: 80%;
    float: right;
}

#infoPanel {
    width: 20%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f4f4f4;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
}

#infoPanel h3 {
    margin: 10px 0;
}
